html.ck-fullscreen:not(.ck-dialog-opened) {
    --fmm-zindex-backdrop: calc(var(--ck-z-fullscreen) + 1);
    --fmm-zindex: calc(var(--ck-z-fullscreen) + 2);
    --fmd-zindex-backdrop: calc(var(--ck-z-fullscreen) + 3);
    --fmd-zindex: calc(var(--ck-z-fullscreen) + 4);
}
html.ck-dialog-opened {
    --fmm-zindex-backdrop: calc(var(--ck-z-dialog) + 1);
    --fmm-zindex: calc(var(--ck-z-dialog) + 2);
    --fmd-zindex-backdrop: calc(var(--ck-z-dialog) + 3);
    --fmd-zindex: calc(var(--ck-z-dialog) + 4);
}
